<aside class="d-flex justify-content-end align-items-end text-end">
    <div>
        <ul>
            <li>
                <p>
                    <a href="#">Entrenamiento Personalizado</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="#">Nutrición</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="#">Suplementación</a>
                </p>
            </li>
        </ul>
    </div>
</aside>
